<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Action Sheets</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <button ion-button block (click)="openSheet()" class='dep-xau-deu-duoc'>
        Show Action Sheet
    </button>
</ion-content>