<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Examples</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <h1>Đây là page chứa tất cả nội dung tự học trong ionic</h1>
    <button ion-button (click)="openActionPigOhShit()">Action Sheet</button>
</ion-content>